.loading-box, .no-data-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.styled-box {
    padding: 16px;
    border-radius: 16px;
    overflow-x: auto;
}

.data-grid .MuiDataGrid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-grid .MuiDataGrid-columnHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.data-grid .MuiDataGrid-footerContainer {
    justify-content: center;
}
