.container {
    min-height: 100vh;
    padding: 0 16px;
}

.flex-center {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.user-profile {
    text-align: center;
}

.user-profile .MuiAvatar-root {
    margin-bottom: 16px;
    margin: auto;
}

.user-profile .MuiButton-root {
    margin: 0 8px;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}